In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('/home/sumit/Desktop/ml_learning/ml/datasets/titanic.csv')

# gather basic information about the data

In [63]:
# -> how big is your data
print (df.shape)



# now see the top 5 
df.head(5)       # for printing first 5 rows
df.sample(5)     # for printing random 5 rows

# get all columns
(df.columns)


# now see columns information
df.info()

# object --> string

(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# is there missing values present on your data

In [64]:
'''
when you vist the .info(), in the result look into non null values. The count should be same for all columns.
'''

# now there one mode column where we can see the count of missing values each column

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# how does the data look mathematically

In [65]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# check for duplicate values

In [66]:
df.duplicated().sum()

# if there are duplicate values, we can takecare of the duplicate values using drop-duplicates availabe in pandas

0

# correlation between cols

In [74]:
# ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
#        'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

columns = ["Survived", "Age","Fare","Pclass"]


correlation = df[columns].corr()
print(correlation)

          Survived       Age      Fare    Pclass
Survived  1.000000 -0.077221  0.257307 -0.338481
Age      -0.077221  1.000000  0.096067 -0.369226
Fare      0.257307  0.096067  1.000000 -0.549500
Pclass   -0.338481 -0.369226 -0.549500  1.000000